* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: black;
}
.krug {
    display: flex;
    justify-content: center;
    aligh-items: center;
    margin-top: 15%;
    height: 200px;
    width: 200px;
    border: 15px solid red;
    border-radius: 50%;
    animation: krug 2s infinite forwards;
}

@keyframes krug {
    0% {
        border-color: red;
        transform: scale(1);
    }
    25% {
        border-color: gold;
        transform: scale(1.20);
    }
    50% {
        border-color: lime;
        transform: scale(1.3);
    }
    75% {
        border-color: dodgerblue;
        transform:scale(1.1)
    }
    100% {
        border-color: purple;
        transform: scale(1);
    }
}

.kvadrat {
    height: 75px;
    width: 75px;
    border: 5px solid rgb(119, 194, 119);
    animation: kvadrat 3s infinite ease-in-out alternate-reverse;
}

@keyframes kvadrat {
    0% {
        border: 5px solid gray;
        transform: rotate(0deg);
    }
    25% {
        border-color: mediumaquamarine;
        border-width: 10px;
    }
    50% {
        border-color:mediumblue;
        border-width: 20px;
    }
    75% {
        border-color: red;
        border-width: 40px;
    }
    100% {
        transform: rotate(360deg);
        border-color: royalblue;
        border-width: 40px;
    }

}